azuredatafactory/src/pipeline/PL_Azure File-ADLSG2.json
{
	"name": "PL_Azure File-ADLSG2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [appconfig].[vPipeline]\nWHERE JobStepID= @{pipeline().parameters.JobStepID}\nAND ExecutionInstanceId = @{pipeline().parameters.ExecutionInstanceId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_FILE_Binary",
						"type": "DatasetReference",
						"parameters": {
							"DS_KVS_Secret": {
								"value": "@activity('Lookup1').output.firstRow.Source_Key_Vault_Secret_Password",
								"type": "Expression"
							},
							"DS_File_Share": {
								"value": "@activity('Lookup1').output.firstRow.Source_FilePath_Container",
								"type": "Expression"
							},
							"DS_File_Path_Directory": {
								"value": "@activity('Lookup1').output.firstRow.Source_FilePath_Directory",
								"type": "Expression"
							},
							"DS_File_Path_File": {
								"value": "@activity('Lookup1').output.firstRow.Source_FilePath_File",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADSLG2_Binary",
						"type": "DatasetReference",
						"parameters": {
							"DS_Service_Endpoint": {
								"value": "@activity('Lookup1').output.firstRow.Sink_Service_Endpoint",
								"type": "Expression"
							},
							"DS_File_Path_Directory": {
								"value": "@activity('Lookup1').output.firstRow.Sink_FilePath_Directory",
								"type": "Expression"
							},
							"DS_File_Path_File": {
								"value": "@activity('Lookup1').output.firstRow.Sink_FilePath_File",
								"type": "Expression"
							},
							"DS_File_Path_Container": {
								"value": "@activity('Lookup1').output.firstRow.Sink_FilePath_Container",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LKP_LogStart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Start"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat('Copy to file: ', activity('Lookup1').output.firstRow.Sink_FilePath_File)",
									"type": "Expression"
								}
							},
							"LogID": {
								"type": "Int32",
								"value": null
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentLogID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "In Progress"
							},
							"ExecutionInstanceId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ExecutionInstanceId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_LogSuccess",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat('Copy to file: ', activity('Lookup1').output.firstRow.Sink_FilePath_File)",
									"type": "Expression"
								}
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentLogID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "Success"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_LogFailure",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat('Copy to file: ', activity('Lookup1').output.firstRow.Sink_FilePath_File)",
									"type": "Expression"
								}
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentLogID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "FAILURE"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Lookup1').output.firstRow.JobGroup, 'Data Portal Export')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "LKP_TransferOnce_copy1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[appconfig].[sDisableJobStep]",
									"storedProcedureParameters": {
										"JobStepId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.JobStepID",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"JobStepID": {
				"type": "string",
				"defaultValue": "5753"
			},
			"ParentLogID": {
				"type": "int",
				"defaultValue": 1
			},
			"ExecutionInstanceId": {
				"type": "int",
				"defaultValue": 14891
			}
		},
		"folder": {
			"name": "Copy"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T15:41:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}