azuredatafactory/src/pipeline/PL_API-UAMI_ADLSG2.json
{
	"name": "PL_API-UAMI_ADLSG2",
	"properties": {
		"activities": [
			{
				"name": "LKP_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [appconfig].[vPipeline]\nWHERE JobStepID= @{pipeline().parameters.JobStepID}\nAND ExecutionInstanceId = @{pipeline().parameters.ExecutionInstanceId}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CP_API_ADLSG2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_REST_API",
						"type": "DatasetReference",
						"parameters": {
							"DS_Base_URL": {
								"value": "@activity('LKP_Config').output.firstRow.Source_Base_URL",
								"type": "Expression"
							},
							"DS_Relative_URL": {
								"value": "@activity('LKP_Config').output.firstRow.Source_RelativeURL",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_UAMI_PE_ADLSG2_JSON",
						"type": "DatasetReference",
						"parameters": {
							"DS_Service_Endpoint": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_Service_EndPoint",
								"type": "Expression"
							},
							"DS_KVS_SPN_Password": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_Key_Vault_Secret_Password",
								"type": "Expression"
							},
							"DS_File_Path_Container": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_FilePath_Container",
								"type": "Expression"
							},
							"DS_File_Path_Directory": {
								"value": "@replace(activity('LKP_Config').output.firstRow.Sink_FilePath_Directory,'YYYYMMDD',concat(formatDateTime(utcnow(),'yyyy'),'\\\\',formatDateTime(utcnow(),'MM'),'\\\\',formatDateTime(utcnow(),'dd')))",
								"type": "Expression"
							},
							"DS_File_Path_File": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_FilePath_File",
								"type": "Expression"
							},
							"DS_File_CompressionType": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_CompressionType",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"JobStepID": {
				"type": "string"
			},
			"ParentLogID": {
				"type": "int"
			},
			"ExecutionInstanceId": {
				"type": "int"
			}
		},
		"folder": {
			"name": "Copy"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-14T16:49:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}