azuredatafactory/src/pipeline/pl_adb_process_Spo.json
{
	"name": "pl_adb_process_Spo",
	"properties": {
		"activities": [
			{
				"name": "LKP_LogStart",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Start"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat('Process Sharepoint stage data')",
									"type": "Expression"
								}
							},
							"LogID": {
								"type": "Int32",
								"value": null
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentLogID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "In Progress"
							},
							"ExecutionInstanceId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ExecutionInstanceId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_config",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_LogSuccess",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FE_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat('Master Execution ', string(pipeline().parameters.ExecutionInstanceId), '|Complete: ', pipeline().Pipeline )",
									"type": "Expression"
								}
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentLogID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "Success"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_config",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_LogFailure",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FE_List",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat('Master Execution ', string(pipeline().parameters.ExecutionInstanceId), '|Failure: ', pipeline().Pipeline)",
									"type": "Expression"
								}
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentLogID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "FAILURE"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_config",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_GetSpoProcess",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT a.[MetaPipelineId]\n      ,a.[MetaPipelineGroup]\n      ,a.SqlBlock\n      --,a.[ExecutionInstanceId]\n      ,a.[sysLastSuccessfulRun] \n\t  ,p.PathDate_YYYYMMDD\nFROM [execution].[vMetaPipeline] a\nCROSS APPLY  [execution].[vPivotExecutionInstanceParamaters] p \nleft outer join [execution].[vMetaPipelineLoadLink] b  on a.MetaPipelineId=b.MetaPipelineId \nwhere p.ExecutionInstanceId = @{pipeline().parameters.ExecutionInstanceId} \nand a.MetaPipelineGroup = 'BMSPO_Process' \nand a.[sysLastSuccessfulRun] < ISNULL(b.[LinkLastSuccessfulRun] ,'29990101')\nORDER BY CONVERT(INT, MetaPipelineOrderNumber)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_List",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GetSpoProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GetSpoProcess').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LKP_Process",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LKP_LogStart_FE",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": {
										"value": "@concat('appconfig.',item().SqlBlock)",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"ExecutionInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ExecutionInstanceId",
												"type": "Expression"
											}
										},
										"ParentLogId": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart').output.firstRow.LogID",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_config",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LKP_Process",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@if(equals(activity('LKP_Process').output.firstRow.MaxDate ,null), 0 , 1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "LKP_Log_MetaPipeline_Success",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[logger].[sLogMetaPipeline]",
												"storedProcedureParameters": {
													"Action": {
														"type": "String",
														"value": null
													},
													"TriggerTime": {
														"type": "String",
														"value": {
															"value": "@activity('LKP_Process').output.firstRow.MaxDate",
															"type": "Expression"
														}
													},
													"ExecutionInstanceId": {
														"type": "Int32",
														"value": {
															"value": "@pipeline().parameters.ExecutionInstanceId",
															"type": "Expression"
														}
													},
													"Status": {
														"type": "String",
														"value": "Success"
													},
													"MetaPipelineId": {
														"type": "Int32",
														"value": {
															"value": "@item().MetaPipelineId",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "ds_config",
												"type": "DatasetReference"
											}
										}
									}
								]
							}
						},
						{
							"name": "LKP_LogStart_FE",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Start"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat('Process: ', item().SqlBlock)",
												"type": "Expression"
											}
										},
										"LogID": {
											"type": "Int32",
											"value": null
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "In Progress"
										},
										"ExecutionInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ExecutionInstanceId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_config",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_LogSuccess_FE",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LKP_Process",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Stop"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat('Process: ', item().SqlBlock, '|Complete')",
												"type": "Expression"
											}
										},
										"LogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart_FE').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "Success"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_config",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_LogFailure_FE",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LKP_Process",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Stop"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat('Process: ', item().SqlBlock, '|Failure')",
												"type": "Expression"
											}
										},
										"LogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart_FE').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "FAILURE"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_config",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ExecutionInstanceId": {
				"type": "int",
				"defaultValue": 7
			},
			"ParentLogId": {
				"type": "string",
				"defaultValue": "231"
			}
		},
		"variables": {
			"skipStep": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Process"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-21T15:09:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}