azuredatafactory/src/pipeline/PL_Azure SQL-SQL Server.json
{
	"name": "PL_Azure SQL-SQL Server",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSQLDB",
						"type": "DatasetReference",
						"parameters": {
							"DS_Schema": {
								"value": "@activity('LKP_Config').output.firstRow.Source_SchemaName",
								"type": "Expression"
							},
							"DS_Table": {
								"value": "@activity('LKP_Config').output.firstRow.Source_TableName",
								"type": "Expression"
							},
							"DS_KVS_ConnectionString": {
								"value": "@activity('LKP_Config').output.firstRow.Source_Key_Vault_Secret_ConnectionString",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQLServer",
						"type": "DatasetReference",
						"parameters": {
							"DS_Schema": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_SchemaName",
								"type": "Expression"
							},
							"DS_Table": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_TableName",
								"type": "Expression"
							},
							"DS_KVS_ConnectionString": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_Key_Vault_Secret_ConnectionString",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "LKP_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [appconfig].[vPipeline]\nWHERE JobStepID= @{pipeline().parameters.JobStepID}\nAND ExecutionInstanceId = @{pipeline().parameters.ExecutionInstanceId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"JobStepID": {
				"type": "int"
			},
			"ParentLogID": {
				"type": "int"
			},
			"ExecutionInstanceId": {
				"type": "int"
			}
		},
		"folder": {
			"name": "Copy"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T15:41:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}