azuredatafactory/src/pipeline/PL_Delete_FileShare.json
{
	"name": "PL_Delete_FileShare",
	"properties": {
		"activities": [
			{
				"name": "LKP_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [appconfig].[vPipeline]\nWHERE JobStepID= @{pipeline().parameters.JobStepID}\nAND ExecutionInstanceId = @{pipeline().parameters.ExecutionInstanceId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LKP_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LKP_Config').output.firstRow.Sink_Category",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "FileShare",
							"activities": [
								{
									"name": "Delete_FileShare",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_FileShare_CSV",
											"type": "DatasetReference",
											"parameters": {
												"DS_Host": {
													"value": "@activity('LKP_Config').output.firstRow.ExecuteServer",
													"type": "Expression"
												},
												"DS_KVS_Username": {
													"value": "@activity('LKP_Config').output.firstRow.Delete_KeyVault_Secret_UserName",
													"type": "Expression"
												},
												"DS_KVS_Password": {
													"value": "@activity('LKP_Config').output.firstRow.Delete_KeyVault_Secret_Password",
													"type": "Expression"
												},
												"DS_File_Path_Directory": {
													"value": "@activity('LKP_Config').output.firstRow.Delete_FilePath_Directory",
													"type": "Expression"
												},
												"DS_File_Path_File": {
													"value": "@activity('LKP_Config').output.firstRow.Delete_FilePath_File",
													"type": "Expression"
												},
												"DS_Delimiter": {
													"value": "@activity('LKP_Config').output.firstRow.Delete_Delimiter",
													"type": "Expression"
												},
												"DS_CompressionType": {
													"value": "@activity('LKP_Config').output.firstRow.Delete_CompressionType",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "FileServerReadSettings",
											"recursive": true,
											"wildcardFileName": {
												"value": "@{activity('LKP_Config').output.firstRow.Delete_FilePath_File}",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"JobStepID": {
				"type": "string",
				"defaultValue": "26"
			},
			"ParentLogID": {
				"type": "int",
				"defaultValue": 0
			},
			"ExecutionInstanceId": {
				"type": "int"
			}
		},
		"folder": {
			"name": "Execute"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T15:41:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}