azuredatafactory/src/pipeline/PL_Execute_UAMI_PE_AzureSQL.json
{
	"name": "PL_Execute_UAMI_PE_AzureSQL",
	"properties": {
		"activities": [
			{
				"name": "LKP_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [appconfig].[vPipeline]\nWHERE JobStepID= @{pipeline().parameters.JobStepID}\nAND ExecutionInstanceId = @{pipeline().parameters.ExecutionInstanceId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SWT_ObjectType",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LKP_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LKP_Config').output.firstRow.Sink_ObjectType",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Stored Procedure",
							"activities": [
								{
									"name": "LKP_LogFailure_Proc",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Stored procedure1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
											"storedProcedureParameters": {
												"Action": {
													"type": "String",
													"value": "Stop"
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"Description": {
													"type": "String",
													"value": {
														"value": "@concat('Execute: ',activity('LKP_Config').output.firstRow.Sink_ProcedureName, ' FAILURE: ', activity('Stored procedure1').error.message)",
														"type": "Expression"
													}
												},
												"LogID": {
													"type": "Int32",
													"value": {
														"value": "@activity('LKP_LogStart_Proc').output.firstRow.LogID",
														"type": "Expression"
													}
												},
												"PipelineId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"TriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"TriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												},
												"TriggerTime": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												"TriggerType": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerType",
														"type": "Expression"
													}
												},
												"ParentLogID": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.ParentLogID",
														"type": "Expression"
													}
												},
												"Status": {
													"type": "String",
													"value": "FAILURE"
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_CONFIG",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "LKP_LogStart_Proc",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
											"storedProcedureParameters": {
												"Action": {
													"type": "String",
													"value": "Start"
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"Description": {
													"type": "String",
													"value": {
														"value": "@concat('Execute: ',activity('LKP_Config').output.firstRow.Sink_ProcedureName)",
														"type": "Expression"
													}
												},
												"LogID": {
													"type": "Int32",
													"value": null
												},
												"PipelineId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"TriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"TriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												},
												"TriggerTime": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												"TriggerType": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerType",
														"type": "Expression"
													}
												},
												"ParentLogID": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.ParentLogID",
														"type": "Expression"
													}
												},
												"Status": {
													"type": "String",
													"value": "In Progress"
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_CONFIG",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "LKP_LogSuccess_Proc",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Stored procedure1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
											"storedProcedureParameters": {
												"Action": {
													"type": "String",
													"value": "Stop"
												},
												"DataFactoryName": {
													"type": "String",
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													}
												},
												"Description": {
													"type": "String",
													"value": {
														"value": "@concat('Execute: ',activity('LKP_Config').output.firstRow.Sink_ProcedureName)",
														"type": "Expression"
													}
												},
												"LogID": {
													"type": "Int32",
													"value": {
														"value": "@activity('LKP_LogStart_Proc').output.firstRow.LogID",
														"type": "Expression"
													}
												},
												"PipelineId": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"PipelineName": {
													"type": "String",
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													}
												},
												"TriggerId": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													}
												},
												"TriggerName": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													}
												},
												"TriggerTime": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													}
												},
												"TriggerType": {
													"type": "String",
													"value": {
														"value": "@pipeline().TriggerType",
														"type": "Expression"
													}
												},
												"ParentLogID": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.ParentLogID",
														"type": "Expression"
													}
												},
												"Status": {
													"type": "String",
													"value": "Success"
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_CONFIG",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "LKP_LogStart_Proc",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@activity('LKP_Config').output.firstRow.Sink_ProcedureName",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_UAMI_PE_SQLDB_AzureSQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"LS_Server": {
												"value": "@activity('LKP_Config').output.firstRow.Sink_Server",
												"type": "Expression"
											},
											"LS_Database": {
												"value": "@activity('LKP_Config').output.firstRow.Sink_Database",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "EXEC SQL Query",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LKP_LogStart_Query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('DECLARE @intSuccess int = 1; ',\nconcat(replace(replace(activity('LKP_Config').output.firstRow.ExecuteCommand,'<@@ParentLogId@@>',string(pipeline().parameters.ParentLogID)),'<@@ExecutionInstanceId@@>',string(pipeline().parameters.ExecutionInstanceId)),\n'; SELECT @intSuccess'))",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_UAMI_PE_AzureSQLDB",
									"type": "DatasetReference",
									"parameters": {
										"DS_Schema": {
											"value": "@activity('LKP_Config').output.firstRow.ExecuteSchemaName",
											"type": "Expression"
										},
										"DS_Table": {
											"value": "@activity('LKP_Config').output.firstRow.ExecuteTableName",
											"type": "Expression"
										},
										"DS_Server": {
											"value": "@activity('LKP_Config').output.firstRow.ExecuteServer",
											"type": "Expression"
										},
										"DS_Database": {
											"value": "@activity('LKP_Config').output.firstRow.ExecuteDatabase",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "LKP_LogStart_Query",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Start"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat('Execute: ',activity('LKP_Config').output.firstRow.ExecuteCommand)",
												"type": "Expression"
											}
										},
										"LogID": {
											"type": "Int32",
											"value": null
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ParentLogID",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "In Progress"
										},
										"ExecutionInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ExecutionInstanceId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_LogSuccess_Query",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "EXEC SQL Query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Stop"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat('Execute: ',activity('LKP_Config').output.firstRow.ExecuteCommand)",
												"type": "Expression"
											}
										},
										"LogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart_Query').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ParentLogID",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "Success"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_LogFailure_Query",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "EXEC SQL Query",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Stop"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat('Execute: ',activity('LKP_Config').output.firstRow.ExecuteCommand, ' FAILURE: ', activity('EXEC SQL Query').error.message)",
												"type": "Expression"
											}
										},
										"LogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart_Query').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ParentLogID",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "FAILURE"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"JobStepID": {
				"type": "string",
				"defaultValue": "2"
			},
			"ParentLogID": {
				"type": "int",
				"defaultValue": 10
			},
			"ExecutionInstanceId": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"folder": {
			"name": "Execute"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-28T14:51:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}