azuredatafactory/src/pipeline/PL_Execute_AAS.json
{
	"name": "PL_Execute_AAS",
	"properties": {
		"activities": [
			{
				"name": "WebHook1",
				"description": "Webhook: Runbook for cube management tasks 1) 'Processing AAS cubes'  or 2) 'Importing Schema' ",
				"type": "WebHook",
				"dependsOn": [
					{
						"activity": "Web_RetrieveWebhookURL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Web_RetrieveWebhookURL').output.value",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@json(\n\tconcat(\n\t\t'{\"Input_SQL_ServerName\":\"'\n\t\t, activity('LKP_Config').output.firstRow.Source_Server\n\t\t,'\",\"Input_AAS_ServerName\":\"'\n\t\t, activity('LKP_Config').output.firstRow.Sink_Server\n\t\t,'\",\"Input_SQL_DatabaseName\":\"'\n\t\t, activity('LKP_Config').output.firstRow.Source_Database\n\t\t,'\",\"Input_Action\":\"'\n\t\t, activity('LKP_Config').output.firstRow.ExecuteCommand\n\t\t,'\"}'\n\t\t)\n\t)",
						"type": "Expression"
					},
					"timeout": "00:45:00"
				}
			},
			{
				"name": "LKP_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [appconfig].[vPipeline]\nWHERE JobStepID= @{pipeline().parameters.JobStepID}\nAND ExecutionInstanceId = @{pipeline().parameters.ExecutionInstanceId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Web_RetrieveWebhookURL",
				"description": "Retrieves the WebHook URL from Key Vault , using the KV Secret Identifier for the secret.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LKP_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('LKP_Config').output.firstRow.Sink_Base_URL,'?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"disableCertValidation": false,
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"JobStepID": {
				"type": "string"
			},
			"ParentLogID": {
				"type": "int"
			},
			"ExecutionInstanceId": {
				"type": "int"
			}
		},
		"folder": {
			"name": "Execute"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-14T16:49:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}