azuredatafactory/src/pipeline/PL_FTP_ProcessLocations.json
{
	"name": "PL_FTP_ProcessLocations",
	"properties": {
		"activities": [
			{
				"name": "Metadata_GetFolderChildren",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "LKP_LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileShare_Folder",
						"type": "DatasetReference",
						"parameters": {
							"DS_Host": {
								"value": "@pipeline().parameters.FTP_Host",
								"type": "Expression"
							},
							"DS_KVS_Username": {
								"value": "@pipeline().parameters.FTP_UserName",
								"type": "Expression"
							},
							"DS_KVS_Password": {
								"value": "@pipeline().parameters.FTP_Password",
								"type": "Expression"
							},
							"DS_File_Path_Directory": {
								"value": "@pipeline().parameters.FTP_FilePath_Directory",
								"type": "Expression"
							},
							"DS_File_CompressionType": "None",
							"DS_File_Delimiter": ","
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LKP_LogStart",
				"description": "Logging Agent Pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Start"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": "Data Importer (Scheduler)"
							},
							"LogID": {
								"type": "Int32",
								"value": null
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": null
							},
							"Status": {
								"type": "String",
								"value": "In Progress"
							},
							"ExecutionInstanceId": {
								"type": "Int32"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Filter_ToFilesOnly",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Metadata_GetFolderChildren",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_GetFolderChildren').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_FileCallAPI",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Var_SetAPISecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_ToFilesOnly').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LKP_CheckFTPFileIsToLoad",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Metadata_OnFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": {
										"value": "[util].[sCheckFTPFileToLoad]",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"FileModifiedDate": {
											"type": "String",
											"value": {
												"value": "@activity('Metadata_OnFile').output.lastModified",
												"type": "Expression"
											}
										},
										"FTPFilePath": {
											"type": "String",
											"value": {
												"value": "@variables('FTP_Full_FileAndPath')",
												"type": "Expression"
											}
										},
										"ParentLogId": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart_inner').output.firstRow.LogID",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Metadata_OnFile",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Var_SetFullFileAndPath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_FileShare_CSV",
									"type": "DatasetReference",
									"parameters": {
										"DS_Host": {
											"value": "@pipeline().parameters.FTP_Host",
											"type": "Expression"
										},
										"DS_KVS_Username": {
											"value": "@pipeline().parameters.FTP_UserName",
											"type": "Expression"
										},
										"DS_KVS_Password": {
											"value": "@pipeline().parameters.FTP_Password",
											"type": "Expression"
										},
										"DS_File_Path_Directory": {
											"value": "@pipeline().parameters.FTP_FilePath_Directory",
											"type": "Expression"
										},
										"DS_File_Path_File": {
											"value": "@item().name",
											"type": "Expression"
										},
										"DS_Delimiter": ",",
										"DS_CompressionType": "None"
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Var_SetFullFileAndPath",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LKP_LogStart_Inner",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FTP_Full_FileAndPath",
								"value": {
									"value": "@concat(pipeline().parameters.FTP_Host,pipeline().parameters.FTP_FilePath_Directory,'/',item().name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If_ReturnMustbeRegistered",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LKP_CheckFTPFileIsToLoad",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('LKP_CheckFTPFileIsToLoad').output.firstRow.Result, 1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Var_APIURL",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "API_Full_URL",
											"value": {
												"value": "@concat(pipeline().parameters.APIBaseURL,'ftp/', pipeline().parameters.CollectionAwardingOrganisationId, '/', item().name,'/false', variables('API_code_secret'))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Web_ReturnRegisterAndSubmission_API",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "Var_APIURL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@variables('API_Full_URL')",
												"type": "Expression"
											},
											"connectVia": {
												"referenceName": "AutoResolveIntegrationRuntime",
												"type": "IntegrationRuntimeReference"
											},
											"method": "GET"
										}
									}
								]
							}
						},
						{
							"name": "LKP_LogStart_Inner",
							"description": "Logging Agent Pipeline",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Start"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": "Data Importer (Scheduler)"
										},
										"LogID": {
											"type": "Int32",
											"value": null
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": null
										},
										"Status": {
											"type": "String",
											"value": "In Progress"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_LogEventSuccess_inner",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "If_ReturnMustbeRegistered",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Stop"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": null
										},
										"LogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart_inner').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": null
										},
										"Status": {
											"type": "String",
											"value": "Success"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_LogEventFailure_inner",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "If_ReturnMustbeRegistered",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Stop"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": null
										},
										"LogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart_inner').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": null
										},
										"Status": {
											"type": "String",
											"value": "Failure"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "Web_kv_API_secret",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Filter_ToFilesOnly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.APICode_kv_Secret",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Var_SetAPISecret",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_kv_API_secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "API_code_secret",
					"value": {
						"value": "@activity('Web_kv_API_secret').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LKP_LogEventSuccess",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_FileCallAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": null
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": null
							},
							"Status": {
								"type": "String",
								"value": "Success"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_LogEventFailure",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_FileCallAPI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": null
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": null
							},
							"Status": {
								"type": "String",
								"value": "Failure"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"FTP_Host": {
				"type": "string",
				"defaultValue": "\\\\10.204.101.4\\FTP"
			},
			"FTP_UserName": {
				"type": "string",
				"defaultValue": "FTPAccess"
			},
			"FTP_Password": {
				"type": "string",
				"defaultValue": "scrt-FTP-Share-Password"
			},
			"FTP_FilePath_Directory": {
				"type": "string",
				"defaultValue": "RiskTeam\\SVR_DataSubmission"
			},
			"CollectionAwardingOrganisationId": {
				"type": "string",
				"defaultValue": "14429"
			},
			"APIBaseURL": {
				"type": "string",
				"defaultValue": "https://ofqds-dev-di-func01.azurewebsites.net/api/ReturnRegisterAndValidate/"
			},
			"APICode_kv_Secret": {
				"type": "string",
				"defaultValue": "https://ofqds-prod-kv01.vault.azure.net/secrets/scrt-api-returnsubmission-APIKey-dev/de2a2cc063734df6aaf73274d2620f0b?api-version=7.0"
			}
		},
		"variables": {
			"FTP_Host": {
				"type": "String"
			},
			"FTP_UserName": {
				"type": "String"
			},
			"FTP_Password": {
				"type": "String"
			},
			"FTP_FilePath_Directory": {
				"type": "String"
			},
			"API_code_secret": {
				"type": "String"
			},
			"API_Full_URL": {
				"type": "String"
			},
			"FTP_Full_FileAndPath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ReturnsProcesses"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T15:41:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}