azuredatafactory/src/pipeline/PL_FTP_Top_GetLocations.json
{
	"name": "PL_FTP_Top_GetLocations",
	"properties": {
		"activities": [
			{
				"name": "FOR_EachConfiguredFTPPath",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GetFolderNameList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GetFolderNameList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "EXPL_ProcessLocations",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_FTP_ProcessLocations",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"FTP_Host": {
										"value": "@activity('LKP_GetFTPConnectionDetails').output.firstRow.Service_Endpoint",
										"type": "Expression"
									},
									"FTP_UserName": {
										"value": "@activity('LKP_GetFTPConnectionDetails').output.firstRow.Key_Vault_Secret_Username",
										"type": "Expression"
									},
									"FTP_Password": {
										"value": "@activity('LKP_GetFTPConnectionDetails').output.firstRow.Key_Vault_Secret_Password",
										"type": "Expression"
									},
									"FTP_FilePath_Directory": {
										"value": "@item().FolderStructure",
										"type": "Expression"
									},
									"CollectionAwardingOrganisationId": {
										"value": "@item().CollectionAwardingOrganisationId",
										"type": "Expression"
									},
									"APIBaseURL": {
										"value": "@activity('LKP_GetWebServiceConnectionDetails').output.firstRow.Base_URL",
										"type": "Expression"
									},
									"APICode_kv_Secret": {
										"value": "@activity('LKP_GetWebServiceConnectionDetails').output.firstRow.Key_Vault_Secret_Password",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LKP_GetFolderNameList",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_GetWebServiceConnectionDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT AO.AwardingOrganisationRecognitionNumber + '\\' + T.TemplateName + '\\' AS FolderStructure, MAX (CAO.CollectionAwardingOrganisationId) AS CollectionAwardingOrganisationId\n--, AO.AwardingOrganisationId, AO.AwardingOrganisationName\nFROM [dp_config].[DP_T_Template] T \n INNER JOIN [dp_config].[DP_T_Collection] C ON T.TemplateId = C.TemplateId \n INNER JOIN [dp_config].[DP_T_CollectionAwardingOrganisation] CAO ON C.CollectionId = CAO.CollectionId\n INNER JOIN [dp_config].[DP_T_AwardingOrganisation] AO ON CAO.AwardingOrganisationId = AO.AwardingOrganisationId\nWHERE AO.Active = 1\n AND CAO.[Active] = 1\n AND C.[Active] = 1\n AND T.[Active] = 1\n AND AO.AwardingOrganisationRecognitionNumber like 'risk%'\nGROUP BY  AO.AwardingOrganisationRecognitionNumber + '\\' + T.TemplateName + '\\' , AO.AwardingOrganisationId, AO.AwardingOrganisationName",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LKP_LogStart",
				"description": "Logging Agent Pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Start"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": "Data Importer (Scheduler)"
							},
							"LogID": {
								"type": "Int32",
								"value": null
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": null
							},
							"Status": {
								"type": "String",
								"value": "In Progress"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_GetFTPConnectionDetails",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT Service_Endpoint, Key_Vault_Secret_Username, Key_Vault_Secret_Password\nFROM [di_config].[t_Connection] \nWHERE ConnectionName = '@{pipeline().parameters.FTP_Connection_Name}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "LKP_LogEventSuccess",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FOR_EachConfiguredFTPPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": null
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": null
							},
							"Status": {
								"type": "String",
								"value": "Success"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_LogEventFailure",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FOR_EachConfiguredFTPPath",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": null
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": null
							},
							"Status": {
								"type": "String",
								"value": "Failure"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_GetWebServiceConnectionDetails",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_GetFTPConnectionDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT Base_URL, Key_Vault_Secret_Password\nFROM [di_config].[t_Connection] \nWHERE ConnectionName = '@{pipeline().parameters.WebService_Connection_Name}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"FTP_Connection_Name": {
				"type": "string",
				"defaultValue": "PROD_FTP_Fileshare"
			},
			"WebService_Connection_Name": {
				"type": "string",
				"defaultValue": "DEV_API_ReturnRegisterWebService"
			}
		},
		"folder": {
			"name": "ReturnsProcesses"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-14T16:49:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}