azuredatafactory/src/pipeline/PL_HTTP-Azure SQL.json
{
	"name": "PL_HTTP-Azure SQL",
	"properties": {
		"activities": [
			{
				"name": "LKP_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [appconfig].[vPipeline]\nWHERE JobStepID= @{pipeline().parameters.JobStepID}\nAND ExecutionInstanceId = @{pipeline().parameters.ExecutionInstanceId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_HTTP_Excel",
						"type": "DatasetReference",
						"parameters": {
							"DS_Base_URL": {
								"value": "@activity('LKP_Config').output.firstRow.Source_Base_URL",
								"type": "Expression"
							},
							"DS_RelativeURL": {
								"value": "@activity('LKP_Config').output.firstRow.Source_RelativeURL",
								"type": "Expression"
							},
							"DS_WorkSheetName": {
								"value": "@activity('LKP_Config').output.firstRow.Source_WorksheetName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSQLDB",
						"type": "DatasetReference",
						"parameters": {
							"DS_Schema": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_SchemaName",
								"type": "Expression"
							},
							"DS_Table": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_TableName",
								"type": "Expression"
							},
							"DS_KVS_ConnectionString": {
								"value": "@activity('LKP_Config').output.firstRow.Sink_Key_Vault_Secret_ConnectionString",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"JobStepID": {
				"type": "string"
			},
			"ParentLogID": {
				"type": "int"
			},
			"ExecutionInstanceId": {
				"type": "int"
			}
		},
		"folder": {
			"name": "Copy"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T15:41:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}