azuredatafactory/src/pipeline/PL_JobStepParallel.json
{
	"name": "PL_JobStepParallel",
	"properties": {
		"activities": [
			{
				"name": "FOR_JobStep_Parallel",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GetJobSteps",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GetJobSteps').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "LKP_Get_Enabled_JobStep",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LKP_LogStart",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT [JobID], JobGroupID ,\nJobOrderNumber , \n[ParallelRunSteps],\n[sysState],\nconvert(int, JobStepOnFailure) JobStepOnFailure,\n [JobStepID], [Pipeline], \nREPLACE(JobName,'\\','\\\\') AS JobName,\nREPLACE([JobStepName],'\\','\\\\') AS JobStepName\nFROM [appconfig].[vPipeline] \nWHERE JobStepId= '@{item().JobStepID}'\n--AND [sysState] = 1\nAND ExecutionInstanceId = '@{pipeline().parameters.ExecutionInstanceId}' \nOrder by OrderNumber",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "IF_Enabled",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LKP_Get_Enabled_JobStep",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('LKP_Get_Enabled_JobStep').output.firstRow.sysState,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "SWT_JobStepType Bucket1",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@activity('LKP_Get_Enabled_JobStep').output.firstRow.Pipeline",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "Azure SQL - Azure SQL",
													"activities": [
														{
															"name": "EXPL_Azure SQL-Azure SQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_Azure SQL-Azure SQL",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "HTTP - Azure SQL",
													"activities": [
														{
															"name": "EXPL_HTTP-Azure SQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_HTTP-Azure SQL",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "BLOB - Azure SQL",
													"activities": [
														{
															"name": "EXPL_BLOB-Azure SQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_BLOB-Azure SQL",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "Azure SQL - BLOB",
													"activities": [
														{
															"name": "EXPL_Azure SQL-BLOB",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_Azure SQL-BLOB",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "Azure SQL - SQL Server",
													"activities": [
														{
															"name": "EXPL_Azure SQL-SQL Server",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_Azure SQL-SQL Server",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "Azure SQL - FileShare",
													"activities": [
														{
															"name": "EXPL_Azure SQL-FileShare",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_Azure SQL-FileShare",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "Execute - Azure SQL",
													"activities": [
														{
															"name": "EXPL_Execute_AzureSQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_Execute_AzureSQL",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "SQL Server - Azure SQL",
													"activities": [
														{
															"name": "EXPL_SQLServer-AzureSQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_SQLServer-AzureSQL",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "FILE - ADLSG2",
													"activities": [
														{
															"name": "EXPL_Azure File-ADSL2",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_Azure File-ADLSG2",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "Azure SQL - ADLSG2",
													"activities": [
														{
															"name": "EXPL_Azure SQL-ADLSG2",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_AzureSQL-ADLSG2",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "FileShare - Azure SQL",
													"activities": [
														{
															"name": "EXPL_FileShare-Azure SQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_FileShare-Azure SQL",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "ADLSG2 - FileShare",
													"activities": [
														{
															"name": "EXPL_ADLSG2-FileShare",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_ADLSG2-FileShare",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "Delete - FileShare",
													"activities": [
														{
															"name": "EXPL_Delete_FileShare",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_Delete_FileShare",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "ADLSG2 - BLOB",
													"activities": [
														{
															"name": "EXPL_ADLSG2-BLOB",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_ADLSG2-BLOB",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "SQL Server - ADLSG2",
													"activities": [
														{
															"name": "EXPL_SQLServer-ADLSG2",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_SQLServer-ADLSG2",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "API - ADLSG2",
													"activities": [
														{
															"name": "EXPL_API-ADLSG2",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_API-ADLSG2",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "Execute - Databricks",
													"activities": [
														{
															"name": "EXPL_Execute_Databricks",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_Execute_DBR",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "FileShare - ADLSG2",
													"activities": [
														{
															"name": "EXPL_FileShare-ADLSG2",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_FileShare-ADLSG2",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "ADLSG2 - ADLSG2",
													"activities": [
														{
															"name": "EXPL_ADLSG2-ADLSG2",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_ADLSG2-ADLSG2",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "ADLSG2 - Azure SQL",
													"activities": [
														{
															"name": "PL_ExecADLSG2_AzureSQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_ADLSG2-Azure SQL",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "Execute - UAMI PE Azure SQL",
													"activities": [
														{
															"name": "EXPL_Execute_UAMI_PE_AzureSQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_Execute_UAMI_PE_AzureSQL",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "UAMI PE Azure SQL - UAMI PE ADLSG2",
													"activities": [
														{
															"name": "EXPL_UAMI PE Azure SQL - UAMI PE ADLSG2",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_UAMI_PE_AzureSQL-UAMI_ADLSG2",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "UAMI PE Azure SQL - UAMI PE Azure SQL",
													"activities": [
														{
															"name": "EXPL_UAMI PE Azure SQL - UAMI PE Azure SQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_UAMI_PE_Azure SQL-UAMI_PE_Azure SQL",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "Azure SQL - UAMI PE ADLSG2",
													"activities": [
														{
															"name": "EXPL_Azure SQL - UAMI PE Azure SQL",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_AzureSQL-UAMI_ADLSG2",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "API - UAMI PE ADLSG2",
													"activities": [
														{
															"name": "EXPL_API-UAMI PE ADLSG2",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_API-UAMI_ADLSG2",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												}
											]
										}
									},
									{
										"name": "SWT_JobStepType Bucket2",
										"type": "Switch",
										"dependsOn": [
											{
												"activity": "SWT_JobStepType Bucket1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@activity('LKP_Get_Enabled_JobStep').output.firstRow.Pipeline",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "UAMI BLOB - UAMI PE ADLSG2",
													"activities": [
														{
															"name": "EXPL_UAMI BLOB-UAMI PE ADLSG2_copy1",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "PL_UAMI_BLOB-UAMI_ADLSG2 Parquet",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"JobStepID": {
																		"value": "@item().JobStepID",
																		"type": "Expression"
																	},
																	"ParentLogID": {
																		"value": "@activity('LKP_LogStart').output.firstRow.LogID",
																		"type": "Expression"
																	},
																	"ExecutionInstanceId": {
																		"value": "@pipeline().parameters.ExecutionInstanceId",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												}
											]
										}
									}
								]
							}
						},
						{
							"name": "LKP_LogSuccess",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "IF_Enabled",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Stop"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat('PL_JobStepParallel - Enabled: ', activity('LKP_Get_Enabled_JobStep').output.firstRow.SysState, ' | JobID: ', item().JobID, ' | JobStepID: ', item().JobStepID, ' | Pipeline: ', item().Pipeline, ' | JobName: ', item().JobName, ' | JobStepName: ', item().JobStepName )",
												"type": "Expression"
											}
										},
										"LogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": null
										},
										"Status": {
											"type": "String",
											"value": "Success"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "IF_Terminate",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "LKP_UpdateStepStatus_OnFailure",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(createArray(0,2),activity('LKP_Get_Enabled_JobStep').output.firstRow.JobStepOnFailure)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Break Out Job Seq",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "LKP_LogMasterEventFailure",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@variables('PipelineRunId')",
												"type": "Expression"
											},
											"connectVia": {
												"referenceName": "AutoResolveIntegrationRuntime",
												"type": "IntegrationRuntimeReference"
											},
											"method": "POST",
											"body": "{“message”:”Cancelling the pipeline”}",
											"authentication": {
												"resource": "https://management.azure.com",
												"credential": {
													"referenceName": "LS_Cred_UAMI_ADF",
													"type": "CredentialReference"
												}
											}
										}
									},
									{
										"name": "LKP_LogMasterEventFailure",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
												"storedProcedureParameters": {
													"Action": {
														"type": "String",
														"value": "Stop"
													},
													"DataFactoryName": {
														"type": "String",
														"value": {
															"value": "@pipeline().DataFactory",
															"type": "Expression"
														}
													},
													"Description": {
														"type": "String",
														"value": null
													},
													"LogID": {
														"type": "Int32",
														"value": {
															"value": "@pipeline().parameters.ParentLogID",
															"type": "Expression"
														}
													},
													"PipelineId": {
														"type": "String",
														"value": {
															"value": "@pipeline().RunId",
															"type": "Expression"
														}
													},
													"PipelineName": {
														"type": "String",
														"value": {
															"value": "@pipeline().Pipeline",
															"type": "Expression"
														}
													},
													"TriggerId": {
														"type": "String",
														"value": {
															"value": "@pipeline().TriggerId",
															"type": "Expression"
														}
													},
													"TriggerName": {
														"type": "String",
														"value": {
															"value": "@pipeline().TriggerName",
															"type": "Expression"
														}
													},
													"TriggerTime": {
														"type": "String",
														"value": {
															"value": "@pipeline().TriggerTime",
															"type": "Expression"
														}
													},
													"TriggerType": {
														"type": "String",
														"value": {
															"value": "@pipeline().TriggerType",
															"type": "Expression"
														}
													},
													"ParentLogID": {
														"type": "Int32",
														"value": null
													},
													"Status": {
														"type": "String",
														"value": "Failure"
													},
													"ExecutionInstanceId": {
														"type": "Int32",
														"value": {
															"value": "@pipeline().parameters.ExecutionInstanceId",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_CONFIG",
												"type": "DatasetReference"
											}
										}
									}
								]
							}
						},
						{
							"name": "LKP_LogFailure",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "IF_Enabled",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Stop"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat('PL_JobStepParallel - Enabled: ', activity('LKP_Get_Enabled_JobStep').output.firstRow.SysState, ' | JobID: ', item().JobID, ' | JobStepID: ', item().JobStepID, ' | Pipeline: ', item().Pipeline, ' | JobName: ', item().JobName, ' | JobStepName: ', item().JobStepName )",
												"type": "Expression"
											}
										},
										"LogID": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_LogStart').output.firstRow.LogID",
												"type": "Expression"
											}
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": null
										},
										"Status": {
											"type": "String",
											"value": "Failure"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_LogStart",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": "Start"
										},
										"DataFactoryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											}
										},
										"Description": {
											"type": "String",
											"value": {
												"value": "@concat('PL_JobStepParallel - JobID: ', item().JobID, ' | JobStepID: ', item().JobStepID, ' | Pipeline: ', item().Pipeline, ' | JobName: ', item().JobName, ' | JobStepName: ', item().JobStepName)",
												"type": "Expression"
											}
										},
										"LogID": {
											"type": "Int32",
											"value": null
										},
										"PipelineId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"PipelineName": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"TriggerId": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											}
										},
										"TriggerName": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"TriggerType": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											}
										},
										"ParentLogID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ParentLogID",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "In Progress"
										},
										"ExecutionInstanceId": {
											"value": {
												"value": "@pipeline().parameters.ExecutionInstanceId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_UpdateStepStatus_OnFailure",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LKP_LogFailure",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[appconfig].[sOnFailureJobStep]",
									"storedProcedureParameters": {
										"JobStepId": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_Get_Enabled_JobStep').output.FirstRow.JobStepID",
												"type": "Expression"
											}
										},
										"OnFailure": {
											"type": "Int32",
											"value": {
												"value": "@activity('LKP_Get_Enabled_JobStep').output.firstRow.JobStepOnFailure",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CONFIG",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "LKP_GetJobSteps",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "VAR_PipelineRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [JobID], JobGroupID ,\nJobOrderNumber , \n[ParallelRunSteps],\nJobStepOnFailure,\n [JobStepID], [Pipeline], \nREPLACE(JobName,'\\','\\\\') AS JobName,\nREPLACE([JobStepName],'\\','\\\\') AS JobStepName\nFROM [appconfig].[vPipeline] \nWHERE JobId= '@{pipeline().parameters.JobID}' \nAND [sysState] = 1\nAND ExecutionInstanceId = '@{pipeline().parameters.ExecutionInstanceId}' \nOrder by JobOrderNumber , JobStepOrderNumber",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "VAR_PipelineRunId",
				"description": "Used to cancel the Pipeline",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunId",
					"value": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().globalParameters.subscriptionId,'/resourceGroups/rg-devt-gsemeapp/providers/Microsoft.DataFactory/factories/', pipeline().DataFactory,'/pipelineruns/',pipeline().RunId,'/cancel?isRecursive=true&api-version=2018-06-01')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"JobID": {
				"type": "int",
				"defaultValue": 2
			},
			"ParentLogID": {
				"type": "int",
				"defaultValue": 8
			},
			"ExecutionInstanceId": {
				"type": "int",
				"defaultValue": 4
			}
		},
		"variables": {
			"varPipelineArray": {
				"type": "Array"
			},
			"varJobName": {
				"type": "String"
			},
			"PipelineRunId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Orchestration"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-26T10:33:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}