azuredatafactory/src/pipeline/PL_ProcessNotifications.json
{
	"name": "PL_ProcessNotifications",
	"properties": {
		"activities": [
			{
				"name": "LKP_EmailQueue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [notification].[t_EmailQueue]\nWHERE [Active] = 1 AND [HoldTill] < CONVERT(datetimeoffset, SYSDATETIMEOFFSET()  ) AT TIME ZONE 'GMT Standard Time'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FOR_EmailQueue",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_EmailQueue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_EmailQueue').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "SinglePurposePipelines"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-14T16:49:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}