azuredatafactory/src/pipeline/PL_SQLServer-AzureSQL.json
{
	"name": "PL_SQLServer-AzureSQL",
	"properties": {
		"description": "Used to migrate Data Portal data into New Azure DB",
		"activities": [
			{
				"name": "LKP_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [appconfig].[vPipeline]\nWHERE JobStepID= @{pipeline().parameters.JobStepID}\nAND ExecutionInstanceId = @{pipeline().parameters.ExecutionInstanceId}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_LogStart",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Start"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat('Copy from table: ', activity('LKP_Config').output.firstRow.Source_TableName, ' to table: ', activity('LKP_Config').output.firstRow.Sink_TableName)",
									"type": "Expression"
								}
							},
							"LogID": {
								"type": "Int32",
								"value": null
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentLogID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "In Progress"
							},
							"ExecutionInstanceId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ExecutionInstanceId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_LogSuccess",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Switch Source Types",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat('Copy from table: ', activity('LKP_Config').output.firstRow.Source_TableName, ' to table: ', activity('LKP_Config').output.firstRow.Sink_TableName)",
									"type": "Expression"
								}
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentLogID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "Success"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_LogFailure",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Switch Source Types",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logger].[sLogEvent]",
						"storedProcedureParameters": {
							"Action": {
								"type": "String",
								"value": "Stop"
							},
							"DataFactoryName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"Description": {
								"type": "String",
								"value": {
									"value": "@concat('Copy from table: ', activity('LKP_Config').output.firstRow.Source_TableName, ' to table: ', activity('LKP_Config').output.firstRow.Sink_TableName, ' FAILURE: ', activity('Switch Source Types').error.message)",
									"type": "Expression"
								}
							},
							"LogID": {
								"type": "Int32",
								"value": {
									"value": "@activity('LKP_LogStart').output.firstRow.LogID",
									"type": "Expression"
								}
							},
							"PipelineId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"TriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"TriggerTime": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							"TriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"ParentLogID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParentLogID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "FAILURE"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CONFIG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch Source Types",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "SWT_TransferType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LKP_Config').output.firstRow.Source_ObjectType",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "SQL Block",
							"activities": [
								{
									"name": "Copy using SQL Script",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('LKP_Config').output.firstRow.Source_SqlBlock",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{if(equals(activity('LKP_Config').output.firstRow.Sink_ObjectType,'Stage Table' ),concat('TRUNCATE TABLE ',activity('LKP_Config').output.firstRow.Sink_SchemaName ,'.', activity('LKP_Config').output.firstRow.Sink_TableName),'')}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQLServer",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.Source_SchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.Source_TableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Source_Key_Vault_Secret_ConnectionString\n",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_SchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_TableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "Table",
							"activities": [
								{
									"name": "Copy using Table",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('LKP_Config').output.firstRow.Source_SqlBlock",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{if(equals(activity('LKP_Config').output.firstRow.Sink_ObjectType,'Stage Table' ),concat('TRUNCATE TABLE ',activity('LKP_Config').output.firstRow.Sink_SchemaName ,'.', activity('LKP_Config').output.firstRow.Sink_TableName),'')}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQLServer",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.Source_SchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.Source_TableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Source_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_SchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_TableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						},
						{
							"value": "View",
							"activities": [
								{
									"name": "Copy using View",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@activity('LKP_Config').output.firstRow.Source_SqlBlock",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{if(equals(activity('LKP_Config').output.firstRow.Sink_ObjectType,'Stage Table' ),concat('TRUNCATE TABLE ',activity('LKP_Config').output.firstRow.Sink_SchemaName ,'.', activity('LKP_Config').output.firstRow.Sink_TableName),'')}",
												"type": "Expression"
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQLServer",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.Source_SchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.Source_TableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Source_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_SchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_TableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					]
				}
			},
			{
				"name": "SWT_TransferType",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LKP_LogStart",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LKP_Config').output.firstRow.TransferType",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Type 1",
							"activities": [
								{
									"name": "EXEC Type 1 SQL Task",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('DROP TABLE IF EXISTS ' , activity('LKP_Config').output.firstRow.Sink_SchemaName ,  '.', activity('LKP_Config').output.firstRow.Sink_TableName , ' SELECT 1 ')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_AzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_SchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_TableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Sink_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								}
							]
						},
						{
							"value": "Type 2",
							"activities": [
								{
									"name": "EXEC Type 2 SQL Task",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('IF object_id(''', activity('LKP_Config').output.firstRow.Sink_SchemaName ,  '.', activity('LKP_Config').output.firstRow.Sink_TableName , ''', ''U'') is not null',\n' TRUNCATE TABLE ' , activity('LKP_Config').output.firstRow.Sink_SchemaName ,  '.', activity('LKP_Config').output.firstRow.Sink_TableName , ' SELECT 1 ')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_AzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.ExecuteSchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.ExecuteTableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Execute_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								}
							]
						},
						{
							"value": "Type 3",
							"activities": [
								{
									"name": "EXEC Type3 SQL Task",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('IF object_id(''', activity('LKP_Config').output.firstRow.Sink_SchemaName ,  '.', activity('LKP_Config').output.firstRow.Sink_TableName , ''', ''U'') is not null',\n' EXEC sp_rename ''' , activity('LKP_Config').output.firstRow.Sink_SchemaName ,  '.', activity('LKP_Config').output.firstRow.Sink_TableName , ''' , ''' , activity('LKP_Config').output.firstRow.Sink_TableName ,'_' , formatDateTime(utcnow(),'yyyyMMddhhmmss') , ''' SELECT 1 ')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_AzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.ExecuteSchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.ExecuteTableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Execute_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								}
							]
						},
						{
							"value": "Type 4",
							"activities": [
								{
									"name": "EXEC Type 4 SQL Task",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('IF object_id(''', activity('LKP_Config').output.firstRow.Sink_SchemaName ,  '.', activity('LKP_Config').output.firstRow.Sink_TableName , ''', ''U'') is not null',\n' TRUNCATE TABLE ' , activity('LKP_Config').output.firstRow.Sink_SchemaName ,  '.', activity('LKP_Config').output.firstRow.Sink_TableName , ' SELECT 1 ')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_AzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.ExecuteSchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.ExecuteTableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Execute_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								}
							]
						},
						{
							"value": "Type 5",
							"activities": [
								{
									"name": "EXEC Type 5 SQL Task",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('IF object_id(''', activity('LKP_Config').output.firstRow.Sink_SchemaName ,  '.', activity('LKP_Config').output.firstRow.Sink_TableName , ''', ''U'') is not null',\n' TRUNCATE TABLE ' , activity('LKP_Config').output.firstRow.Sink_SchemaName ,  '.', activity('LKP_Config').output.firstRow.Sink_TableName , ' SELECT 1 ')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_AzureSQLDB",
											"type": "DatasetReference",
											"parameters": {
												"DS_Schema": {
													"value": "@activity('LKP_Config').output.firstRow.ExecuteSchemaName",
													"type": "Expression"
												},
												"DS_Table": {
													"value": "@activity('LKP_Config').output.firstRow.ExecuteTableName",
													"type": "Expression"
												},
												"DS_KVS_ConnectionString": {
													"value": "@activity('LKP_Config').output.firstRow.Execute_Key_Vault_Secret_ConnectionString",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"JobStepID": {
				"type": "string",
				"defaultValue": "24950"
			},
			"ParentLogID": {
				"type": "int",
				"defaultValue": 1
			},
			"ExecutionInstanceId": {
				"type": "int"
			}
		},
		"folder": {
			"name": "Copy"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-25T15:41:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}