azuredatafactory/src/pipeline/zz_adb_process_Houston.json
{
	"name": "zz_adb_process_Houston",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_Process_Houston",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(activity('LKP_Process_Houston').output.firstRow.MaxDate ,null), 0 , 1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "LKP_Log_MetaPipeline_NoMaxDate",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogMetaPipeline]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": null
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"ExecutionInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ExecutionInstanceId",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "Failed"
										},
										"MetaPipelineId": {
											"type": "Int32",
											"value": "1"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_config",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "LKP_Log_MetaPipeline_Success",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[logger].[sLogMetaPipeline]",
									"storedProcedureParameters": {
										"Action": {
											"type": "String",
											"value": null
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"ExecutionInstanceId": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ExecutionInstanceId",
												"type": "Expression"
											}
										},
										"Status": {
											"type": "String",
											"value": "Success"
										},
										"MetaPipelineId": {
											"type": "Int32",
											"value": "1"
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_config",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "LKP_Process_Houston",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "appconfig.sInsert_00S01_Dummy",
						"storedProcedureParameters": {
							"ExecutionInstanceId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ExecutionInstanceId",
									"type": "Expression"
								}
							},
							"ParentLogId": {
								"type": "Int32",
								"value": "50"
							},
							"MaxDate": {
								"type": "Datetimeoffset",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_config",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"ExecutionInstanceId": {
				"type": "int",
				"defaultValue": 5
			},
			"ParentLogId": {
				"type": "string",
				"defaultValue": "58"
			}
		},
		"variables": {
			"skipStep": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "Process"
		},
		"annotations": [],
		"lastPublishTime": "2022-09-21T15:09:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}